@page "/curriculo"

<PageTitle>Curriculo</PageTitle>

<h1>Currículo</h1>

<img src="/curriculo.png.png" alt="Minha foto" width="200" />

<h2>Informações Pessoais:</h2>
<h3>
    Nome: Anna Clara Santana de Paula
</h3>
<h3>
    Email: claranna.1202@email.com
</h3>
<h3>
    Telefone: (69) 99268-1005
</h3>
<h3>
    Localização: Ji-Paraná, RO
</h3>
<h3>
    GitHub: github.com/annaclara1516
</h3>

<h2>Objetivo Profissional:</h2>
<h3>Atuar como desenvolvedora Front-End, aplicando conhecimentos técnicos e contribuindo para
    soluções criativas e eficazes.
</h3>


<h2>Formação Acadêmica:</h2>
<h3>
    Curso Técnico em Informática – IFRO – Conclusão: 2025
</h3>
<h3>
    Ensino Médio – IFRO – Conclusão: 2025
</h3>

<h2>Experiência Profissional:</h2>
<h3>
    Estagiária em Desenvolvimento Web – Empresa IFRO (nov/2024 – jul/2025)
</h3>
<h3>
    Desenvolvimento com HTML, CSS e JS
</h3>
<h3>
    Participação em reuniões ágeis (Scrum)
</h3>
<h3>
    Automação de testes
</h3>

<h2>Habilidades Técnicas:</h2>
<h3>
    HTML, CSS, JavaScript, C#, Blazor, MySQL, Git.
</h3>

<h2>Projetos em Destaque</h2>
<h3>
    Programação Web: github.com/annaclara1516/programacaoweb
</h3>
<h3>
    App Web: github.com/annaclara1516/app-web-test
</h3>

<h2>Idiomas</h2>
<h3>
    Português: Nativo
</h3>
<h3>
    Inglês: Fluente
</h3>

<h2>Certificados:</h2>
<h3>
    Curso HTML e CSS – Curso em Vídeo
</h3>
<h3>
    Lógica de Programação – Alura
</h3>
<h3>
    Git e GitHub – DIO
</h3>

<h2>Obrigada por visitar meu currículo!</h2>

<style>
    h2 {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    h3 {
        margin-left: 20px;
        margin-bottom: 8px;
    }
</style>