@page "/sobre"

<PageTitle>Sobre</PageTitle>

<h1>Sobre Anna Clara</h1>

<img src="/sobre.png.png" alt="Minha Foto" width="200"/>

<h2>Geral:</h2>
<h3>
    Nasci em 01/06/2008 em Ji-Paraná/RO às 1h e 15 min da manhã. Cresci com meus pais como filha única até
    2015, quando meu irmão nasceu em 09/11. Fiz o maternal e o pré 1 no Colégio Adventista e fiz todo o meu
    ensino fundamental, do 1° ao 9° ano, no Cedusp/Colégio Ulbra São Paulo, em que nesse período meus pais
    se separaram (2021). Em 2023 entrei no Ifro e atualmente estou concluindo o 3° e último ano do ensino médio.
    Sou uma pessoa extrovertida, prestativa, amigável e responsável.<br>
</h3>

<h2>Trajetória:</h2>
<h3>
    ° Sempre tive festas de aniversário desde 1 ano de idade <br>
    ° Nunca quebrei um osso, mas já fiquei internada em hospital quando estava no 3° ano do ensino fundamental <br>
    ° Fiz minha 1° viagem de avião em 2014, antes de fazer 6 anos, com a minha mãe e fomos visitar a
    minha tia em RS <br>
    ° Em 2017, começei a fazer aulas de balé e fiz minha 1° apresentção no Espaço Mediterrâneo <br>
    ° Em 2018, fiz minha 2° viagem até RS, dessa vez com meus pais e meu irmão, e fomos de carro <br>
    ° Nessa época, também começei a fazer aulas de canto, e acabei saindo do balé no fim do ano <br>
    ° Em 2019, voltei a fazer aulas de balé e saí das aulas de canto e passei a fazer aulas de piano <br>
    ° Fiz minha 2° apresentação de balé no Esporte Clube Vera Cruz <br>
    ° No início de 2020, fiz minha 3° viagem até RS, de carro, com meus pais e meu irmão, e ainda visitamos o
    Paraguai, sendo a minha 1° vez que saí do país <br>
    ° Parei com tudo na pandemia, até começar a fazer aulas de jazz (dança) em 2021 <br>
    ° Também no Esporte Clube Vera Cruz, fiz minha primeira apresentação de jazz no fim do ano <br>
    ° Em 2022, aos 14 anos, me batizei na igreja Casa de Oração, onde nasci, cresci e estou até hoje <br>
    ° Na metade do mesmo ano, acabei parando com as aulas de jazz <br>
    ° Nesse período, estava concluindo o ensino fundamental, e ganhei 4 prêmios nos concursos de melhor
    redação que eram feitos no Cedusp, sendo 2 de 3° lugar e outros 2 de 2° lugar <br>
    ° Ao entrar no Ifro em 2023, foquei apenas na escola <br>
    ° No mesmo ano, tive a minha tão sonhada festa de 15 anos <br>
    ° Concluí o 1° ano do ensino médio e, em 2024, concluí o 2° ano <br>
    ° E em 2024, mais ou menos na segunda metade do ano, voltei a fazer aulas de piano, mas parei de novo
    depois das férias de fim de ano <br>
    ° Agora, em 2025, estou quase concluindo o 3° ano e o ensino médio no Ifro <br>
</h3>

<h2>Hobbies:</h2>
<h3>
    ° Dormir <br>
    ° Ouvir música <br>
    ° Cantar <br>
    ° Escrever (cartas, poemas, histórias, etc) <br>
    ° Cozinhar (de vez em quando) <br>
    ° Sair (e me arrumar) <br>
    ° Tirar fotos <br>
    ° Ler <br>
    ° Fazer as unhas <br>
    ° Passar tempo com família e amiguinhos <br>
</h3>

<h2>Favoritos:</h2>
<h3>
    ° Cor favorita: vermelho <br>
    ° Flor favorita: tulipas (brancas ou vermelhas) <br>
    ° Estação favorita: inverno e primavera <br>
    ° Árvore favorita (sim, eu tenho): cerejeira e salgueiro <br>
    ° Música favorita: muitas (pelo menos uma de cada cantor que eu gosto) <br>
    ° Filme favorito: 1917 (live action) e Your Name (animação) <br>
    ° Série favorita: ainda não defini <br>
    ° Livro favorito: A Maldição do Mar (o plot twist é perfeito, e preciso ler mais livros) <br>
    ° Gênero favorito (literário e cinematográfico): romance, aventura e fantasia <br>
    ° Disciplina favorita: inglês (não tenho mais, infelizmente) <br>
    ° Lugar favorito: meu quarto, cinema e igreja <br>
    ° Ponto turístico favorito: muitos de todo lugar (mas principalmente todos de Paris, França) <br>
    ° Clima favorito: nublado ou frio <br>
    ° Hora do dia favorita: fim de tarde e noite <br>
    ° Dia da semana favorito: sexta e sábado <br>
    ° Mês favorito: junho (meu aniversário) <br>
    ° Data comemorativa ou feriado favorito: natal e ano novo <br>
    ° Fruta favorita: maçã e morango <br>
    ° Doce favorito: bolo red velvet e brigadeiro <br>
    ° Bebida favorita: café gelado e coca cola (ou guaraná) <br>
    ° Salgado favorito: esfirra de carne <br>
    ° Refeição favorita: almoço <br>
    ° Prato de refeição favorito: macarronada (com molho de tomate bem caprichado) <br>
    ° Brincadeira favorita: esconde-esconde e rouba-bandeira <br>
    ° Espaço de lazer favorito: piscina (saudades de piscinar) <br>
    ° Planeta favorito: Saturno e Urano <br>
    ° Som favorito: ondas do mar <br>
    ° Fragrância favorita: cheiro de terra molhada quando chove <br>
    ° Ação favorita: abraço <br>
    ° Sentimento favorito: alegria e nostalgia <br>
    ° Profissão favorita: atriz, modelo e cantora <br>
    ° Mania favorita: mecher no cabelo <br>
</h3>

<h2>Interesses:</h2>
<h3>
    Gosto de sair e conhecer lugares novos, viajar e experimentar coisas novas (especialmente comida e roupas).
    Gosto de festas, até mesmo de ajudar a programá-las, mas principalmente de aproveitá-las. Porém também
    gosto de ficar em casa, escrevendo e escutando música no meu quarto. Gosto de escrever, sempre fui criativa.
    Sempre gostei de criar coisas novas, principalmente quando se trata de moda, até faria tal faculdade se já
    não tivesse outros planos. Também faria faculdade de atuação, gosto muito de atuar e de me apresentar no
    geral, seja atuando, dançando ou cantando (canto na igreja). Gosto demais das festas da minha igreja
    (congressos), onde além de muito ensino e aprendizado, há também muitas risadas e muita comida boa. Gosto
    de cuidar das crianças na salinha também, sempre carregando um bebê no colo. Ainda gosto muito de
    brincadeiras como esconde-esconde e entre outras (nunca deixei de ser criança nesse sentido). Gosto demais
    de estar e rir até faltar o ar com meus amigos, principalmente nossas aventuras e loucuras. Gosto de sair
    de forma programada, planejando cada lugar onde passaria. Também gosto de sair andando sem rumo, se houver
    uma companhia a fim de bater papo. Gosto de conversar e me expressar, por isso também gosto de terapia.
    Gosto do barulho, mas também do silêncio (na hora de dormir). Gosto de ficar em casa quando está frio,
    assistindo um dorama debaixo do cobertor e comendo chocolate (ou biscoito). Gosto de piscinar quando está
    calor. Gosto de me arrumar quando vou sair e de registrar cada momento. Gosto de viver da forma que me faz
    feliz.
</h3>